	#sourceArea {
		position:absolute;
		top: 2%;
		left: 2%;
		border-style: groove;
		width: 20%;
		height: 50%;
	}

	#robotArea {
		position:absolute;
		top: 2%;
		left: 78%;
		border-style: groove;
		width: 20%;
		height: 70%;
	}

	#messageArea {
		position:absolute;
		bottom: 2%;
		left: 24%;
		border-style: groove;
		width: 52%;
		height: 22%;
	}

	#buildingArea {
		position:absolute;
		bottom: 2%;
		left: 2%;
		border-style: groove;
		width: 20%;
		height: 42%;
	}
	#mainArea {
		position:absolute;
		top: 2%;
		left: 24%;
		border-style: groove;
		width: 52%;
		height: 70%;
	}
	#menuArea {
		position: absolute;
		bottom: 2%;
		left: 78%;
		border-style: groove;
		width: 20%;
		height: 22%;
	}