	div#header {
		position:absolute;
		top :0%;
		left:0%;
		border-style: groove;
		height: 5%;
		width: 100%;
		background-color: #B8CAEE;
	}
	div#content {
		top: 6%;
		position:absolute;
		height: 94%;
		width: 100%;
	}

	div#buildingArea, div#sourceArea{
		margin: 5% 15%;
	}
	.Area {
		margin: 2% 5%;
	}
	#sourceAreaContainer {
		position:absolute;
		top: 2%;
		left: 2%;
		border-style: groove;
		width: 20%;
		height: 50%;
	}
	div#sourceAreaContainer:before {
		position: absolute;
		content: "Source";
		top: -13px;
		background-color: white;
	}
	
	#robotAreaContainer {
		position:absolute;
		top: 2%;
		left: 78%;
		border-style: groove;
		width: 20%;
		height: 70%;
	}
	div#robotAreaContainer:before {
		position: absolute;
		content: "Robot Missions";
		top: -13px;
		background-color: white;
	}
	
	#messageAreaContainer {
		position:absolute;
		bottom: 2%;
		left: 24%;
		border-style: groove;
		width: 52%;
		height: 22%;
		overflow-y: scroll;
	}
	div#messageArea>p{
		line-height: 5px;
	}

	#buildingAreaContainer {
		position:absolute;
		bottom: 2%;
		left: 2%;
		border-style: groove;
		width: 20%;
		height: 42%;
	}
	div#buildingAreaContainer:before {
		position: absolute;
		content: "Building";
		top: -13px;
		background-color: white;
	}
	#mainAreaContainer {
		position:absolute;
		top: 2%;
		left: 24%;
		border-style: groove;
		width: 52%;
		height: 70%;
	}

	#menuAreaContainer {
		position: absolute;
		bottom: 2%;
		left: 78%;
		border-style: groove;
		width: 20%;
		height: 22%;
	}
	div#menuAreaContainer:before {
		position: absolute;
		content: "System";
		top: -13px;
		background-color: white;
	}

	div.RowRoot {
		position: relative;
	}
	div.RowLeft {
		clear: both;
		float: left;
	}
	div.RowRight {
		float: right;
	}
	#headButtonArea {
		top:0%;
		text-align: center;
	}